*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}
.skinstric-header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skinstric-namestate{
  display: flex;
  margin-left: 32px;
  align-items: center;
}
.skinstric-name{
  font-weight: bold;
  padding-right: 8px;
}
.skinstric-state{
  color: gray;
  font-size: 12px;
}
.header-button{
  margin-right: 32px;
}
.black-button{
  color: white;
  background: black;
  padding: 8px;
  font-size: 10px;
  font-weight: bold;
}
.skinstric-body{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 64px);
}
.left-holder{
  width: 500px;
  height: 500px;
  background-color: lightblue;
  position: absolute;
  top: 40px;
  left: -300px;
  justify-content: center;
  align-items: center;
}
.middle-header{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}
.middle-header-bottom{
  padding-left: 24px;
}
.right-holder{
  width: 500px;
  height: 500px;
  background-color: lightcoral;
  position: absolute;
  top: 40px;
  right: -300px;
  justify-content: center;
  align-items: center;
}
.intro-box{
  width: 500px;
  height: 500px;
  border: 1px dotted gray;
  rotate: 45deg;
}
