* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

.large-ani {
  animation: rotat 15s linear infinite;
  opacity: 0.2;
}
.medium-ani {
  animation: rotat 20s linear infinite;
  opacity: 0.25;
}
.small-ani {
  animation: rotat 25s linear infinite;
  opacity: 0.3;
}

.large-ani-1 {
  animation: rotat1 15s linear infinite;
  opacity: 0.2;
}
.medium-ani-1 {
  animation: rotat1 20s linear infinite;
  opacity: 0.25;
}
.small-ani-1 {
  animation: rotat1 25s linear infinite;
  opacity: 0.3;
}

@keyframes rotat {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes rotat1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* 

UNIVERSAL ANIMATIONS

*/

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {
  animation: 1s fadeInUp;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInRight-animation {
  animation: 2s fadeInRight;
}





/* 

INTRO PAGE 

*/

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.translate-left {
  transform: translateX(-30%);
  transition: transform 0.5s ease;
}
.translate-right {
  transform: translateX(30%);
  transition: transform 0.5s ease;
}

.intro-header-section {
  display: flex;
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 64px;
}
.intro-header-section-namestate {
  display: flex;
  padding-top: 0.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  --transform-scale-x: 0.75;
  --transform-scale-y: 0.75;
}
.intro-header-section-name {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  color: #1a1b1c;
}
.intro-header-section-state {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #1a1b1c83;
}
.black-button {
  display: inline-flex;
  margin: 0 16px;
  padding: 4px 8px;
  height: 28.8px;
  width: 74.6px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #fcfcfc;
  font-size: 10px;
  background: #1a1b1c;

  :hover {
    /* placeholder */
  }
}
.body-container {
  /* placeholder */
}
.center-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 71dvh;

  @media (min-width: 768px) {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}
.little-boxholder-1 {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  rotate: 45deg;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }
}
.box-rotated-350 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-style: dotted;
  /* rotate: 45deg;  */
  width: 350px;
  height: 350px;
  border-color: #a0a4ab;
}
.little-boxholder-2 {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  rotate: 45deg;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }
}
.box-rotated-420 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-style: dotted;
  transform-origin: center;
  /* rotate: 45deg;  */
  width: 420px;
  height: 420px;
  border-color: #a0a4ab;
}
.main-heading {
  position: relative;
  z-index: 10;
  text-align: center;
}
.heading-text {
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1;
  opacity: 1;
  font-size: 60px;
  color: #1a1b1c;
  transition: all 0.5s ease;

  @media (min-width: 1024px) {
    font-size: 100px;

    opacity: 1;
    translate: none;
    rotate: none;
    scale: none;
    /* transform: translate(20rem, 0px); */
  }
}
.heading-text-2 {
  display: block;
  color: #1a1b1c;
}
.little-blurb {
  display: block;
  z-index: 10;
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
  width: 30ch;
  color: 16px;
  color: #1a1b1c83;

  @media (min-width: 1024px) {
    display: none;
  }
}
.enter-experience-link-holder {
  z-index: 10;
  margin-top: 1rem;

  @media (min-width: 1024px) {
    display: none;
  }
}
.enter-experience-link-button {
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  transition-duration: 300ms;

  :hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
}
.enter-experience-link-text {
  font-weight: 700;
  cursor: pointer;
  color: 12px;
  transition: all 0.3s ease;
}
.enter-experience-link-diamond {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  rotate: 45deg;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.arrow-icon {
  rotate: -45deg;
}
.blurb-holder {
  display: none;
  position: fixed;
  margin-top: 0.75rem;
  margin-top: 0.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  bottom: calc(-7vh);
  left: calc(-20vw);
  color: #1a1b1c;

  @media (min-width: 1024px) {
    display: block;
  }

  @media (min-width: 1280px) {
    left: calc(-27vw);
  }

  @media (min-width: 1536px) {
  }
}
.left-section {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  left: calc(-53vw);
  width: 500px;
  height: 500px;
  transition: all 0.5s ease;

  @media (min-width: 1024px) {
    display: block;
  }
  @media (min-width: 1280px) {
    left: calc(-50vw);
  }
}
.left-section-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.left-section-diamond {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 1px;
  border-style: dotted;
  width: 100%;
  height: 100%;
  rotate: 45deg;
  border-color: #a0a4ab;
  transition: all 0.5s ease;
}
.discover-button {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
  color: #1a1b1c;
  transition: all 0.5s ease;

  @media (min-width: 1280px) {
  }
}
.button-diamond {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  transition-duration: 300ms;
  rotate: 45deg;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.discover-arrow {
  rotate: 135deg;
}
.right-section {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  right: calc(-53vw);
  width: 500px;
  height: 500px;
  transition: transform 0.5s ease;

  @media (min-width: 1024px) {
    display: block;
  }
  @media (min-width: 1280px) {
    right: calc(-50vw);
  }
}
.right-section-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-section-diamond {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 1px;
  border-style: dotted;
  width: 100%;
  height: 100%;
  rotate: 45deg;
  border-color: #a0a4ab;
  transition: all 0.5s ease;
}
.take-test-button {
  display: inline-flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
  color: #1a1b1c;
  transition: all 0.5s ease;

  @media (min-width: 1280px) {
  }
}
.take-test-button:hover .button-diamond {
  transform: scale(1.2);
}
.discover-button:hover .button-diamond {
  transform: scale(1.2);
}
.enter-experience-link-button:hover {
  transform: scale(1.1);
}

/* 

TESTING PAGE

*/

.testing-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}
.analysis-message {
  position: absolute;
  left: 2.25rem;
  top: 0;
  text-align: left;
}
.analysis-message-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
.testing-intro-holder {
  display: flex;
  position: fixed;
  margin-bottom: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  width: 100%;
  height: 90%;
}
.testing-intro-clicktotype {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  color: #9ca3af;
  text-transform: uppercase;
}
.testing-form {
  position: relative;
  z-index: 10;
}
.column-item-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red-text {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ef4444;
}
.testing-intro-input {
  z-index: 10;
  padding-top: 0.25rem;
  border-bottom-width: 1px;
  border-color: #000000;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  appearance: none;
  width: 372px;
  color: #1a1b1c;

  @media (min-width: 640px) {
    font-size: 3.75rem;
    line-height: 1;
    width: 432px;
  }
}
.testing-intro-input::placeholder {
  font-size: 45px;

  @media (min-width: 640px) {
    font-size: 52px;
    width: 432px;
  }
}
.inner-holding {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diamond-large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 480px;
  border: 2px dotted gray;
  transform-origin: center;

  @media (max-width: 768px) {
    width: 400px;
    height: 400px;
  }
}
.diamond-medium {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border: 3px dotted gray;

  @media (max-width: 768px) {
    width: 325px;
    height: 325px;
  }
}
.diamond-small {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  /* rotate: 45deg; */
  transform: translate(-50%, -50%);
  border: 4px dotted gray;

  @media (max-width: 768px) {
    width: 250px;
    height: 250px;
  }
}
.back-button-holder {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    bottom: 2rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.back-button-holder-style {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back-diamond {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  rotate: 45deg;
  border-color: #1a1b1c;
  bottom: 5%;
  left: 5%;

  @media (min-width: 640px) {
    display: none;
  }
}
.back-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  rotate: -45deg;

  @media (min-width: 640px) {
    display: none;
  }
}
.big-back-button {
  display: none;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 5%;

  @media (min-width: 640px) {
    display: flex;
  }
}
.big-back-diamond {
  display: none;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  transition-duration: 300ms;
  rotate: 45deg;
  border-color: #1a1b1c;
  transition: all 0.3s ease;

  @media (min-width: 640px) {
    display: flex;
  }
}
.big-back-button:hover .big-back-diamond {
  transform: scale(1.1);
}
.big-back-text {
  display: none;
  margin-left: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  @media (min-width: 640px) {
    display: block;
  }
}
.big-back-arrow {
  rotate: 135deg;
  font-size: 18px;
}
.loading-gif {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.thank-you-message {
  color: #1a1b1c;
  font-size: 24px;
}
.proceed-message {
  color: oklch(0.446 0.03 256.802);
}
.proceed-button-holder {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    bottom: 2rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.proceed-button-holder-style {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.proceed-diamond {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  rotate: 45deg;
  border-color: #1a1b1c;
  bottom: 5%;
  right: 5%;

  @media (min-width: 640px) {
    display: none;
  }
}
.proceed-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  rotate: -45deg;

  @media (min-width: 640px) {
    display: none;
  }
}
.big-proceed-button {
  display: none;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 5%;

  @media (min-width: 640px) {
    display: flex;
  }
}
.big-proceed-diamond {
  display: none;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  transition-duration: 300ms;
  rotate: 45deg;
  border-color: #1a1b1c;

  @media (min-width: 640px) {
    display: flex;
  }
}
.big-proceed-button:hover .big-proceed-diamond {
  transform: scale(1.1);
}
.big-proceed-text {
  display: none;
  margin-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  @media (min-width: 640px) {
    display: block;
  }
}
.big-proceed-arrow {
  rotate: -45deg;
  font-size: 18px;
}

/* 

RESULT PAGE

*/

.result-body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;

  @media (min-width: 768px) {
    padding-top: 64px;
  }
}
.result-header-holder {
  position: absolute;
  top: 0.5rem;
  left: 2.25rem;
  text-align: left;

  @media (min-width: 768px) {
    left: 2rem;
  }
}
.start-analysis-header {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.main-result-container {
  display: flex;
  position: relative;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 0;
    flex-direction: row;
    flex: 1 1 0%;
  }

  @media (min-width: 1280px) {
    justify-content: center;
  }
}
.scan-face-side-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    position: absolute;
    left: 25%;
    top: 300%;
    transform: translateX(-50%);
  }
  @media (min-width: 1024px) {
    left: 25%;
    top: 300%;
    transform: translateX(-50%);
  }
  @media (min-width: 1280px) {
    left: 25%;
    top: 300%;
    transform: translateX(-50%);
  }
}
.intermediary-div {
  width: 270px;
  height: 270px;

  @media (min-width: 768px) {
    width: 482px;
    height: 482px;
  }
}
.analysis-diamond-large {
  position: absolute;
  width: 270px;
  height: 270px;
  border: 1px dotted gray;

  @media (min-width: 768px) {
    width: 482px;
    height: 482px;
  }
}
.analysis-diamond-medium {
  position: absolute;
  width: 230px;
  height: 230px;
  border: 2px dotted gray;

  @media (min-width: 768px) {
    width: 444.34px;
    height: 444.34px;
  }
}
.analysis-diamond-small {
  position: absolute;
  width: 190px;
  height: 190px;
  border: 3px dotted gray;

  @media (min-width: 768px) {
    width: 405.18px;
    height: 405.18px;
  }
}
.camera-section-holder {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.camera-icon {
  position: absolute;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease;

  @media (min-width: 768px) {
    width: 136px;
    height: 136px;
  }
}
.camera-icon:hover {
  transform: scale(1.1);
}
.camera-aside-holder {
  position: absolute;
  bottom: 1%;
  right: 90px;

  @media (min-width: 768px) {
    top: 30.9%;
    right: -12px;
  }
}
.allow-ai-text {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.camera-scan-line {
  display: none;
  position: absolute;

  @media (min-width: 768px) {
    display: block;
    right: 135px;
    top: 10px;
  }
}
.access-gallery-side-container {
  display: flex;
  position: relative;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 1;

  @media (min-width: 768px) {
    position: absolute;
    margin-top: 0;
    right: 25%;
    top: 300%;
    transform: translateX(50%);
  }
  @media (min-width: 1024px) {
    right: 25%;
    top: 300%;
    transform: translateX(50%);
  }
  @media (min-width: 1280px) {
    right: 25%;
    top: 300%;
    transform: translateX(50%);
  }
}
.gallery-section-holder {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-icon {
  position: absolute;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease;

  @media (min-width: 768px) {
    width: 136px;
    height: 136px;
  }
}
.gallery-icon:hover {
  transform: scale(1.1);
}
.gallery-aside-holder {
  position: absolute;
  top: 75%;

  @media (min-width: 768px) {
    top: 70%;
    left: 17px;
  }
}
.allow-ai-gallery-text {
  margin-top: 0.5rem;
  font-weight: 400;
  text-align: right;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}
.gallery-scan-line {
  display: none;
  position: absolute;

  @media (min-width: 768px) {
    display: block;
    left: 124px;
    bottom: 39px;
  }
}
.preview-section-holder {
  position: absolute;
  right: 1.75rem;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 1;
  top: 0px;

  @media (min-width: 768px) {
    right: 2rem;
    top: -200%;
  }
}
.preview-header {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.preview-darker {
  color: black !important;
  font-weight: 500 !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
}
.preview-box {
  overflow: hidden;
  border-width: 1px;
  border-color: #d1d5db;
  width: 6rem;
  height: 6rem;

  @media (min-width: 768px) {
    width: 8rem;
    height: 8rem;
  }
}
.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.result-bottom {
  position: sticky;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #ffffff;

  @media (min-width: 768px) {
    position: static;
    padding-top: 0;
    margin-bottom: 0;
  }
}
.bottom-bar {
  display: flex;
  position: absolute;
  bottom: 2rem;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.relative-link {
  position: relative;
}
.hidden-div {
  display: none;
}
.hidden-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  rotate: 45deg;
  border-color: #1a1b1c;

  @media (min-width: 640px) {
    display: none;
  }
}
.hidden-2 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;

  @media (min-width: 640px) {
    display: none;
  }
}
.hidden-3 {
  display: none;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    display: flex;
  }
}
.hidden-4 {
  display: none;
  margin-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  @media (min-width: 640px) {
    display: block;
  }
}
.hidden-5 {
  display: none;
  justify-content: center;
  border-width: 1px;
  width: 3rem;
  height: 3rem;
  transition-duration: 300ms;
  rotate: 45deg;
  border-color: #1a1b1c;

  @media (min-width: 640px) {
    display: flex;
  }
}
.hidden-6 {
  display: none;
  position: absolute;
  transition-duration: 300ms;
  right: 15px;
  bottom: 13px;

  @media (min-width: 640px) {
    display: block;
  }
}
.access-camera-holder {
  position: absolute;
  z-index: 50;
  width: 352px;

  @media (min-width: 768px) {
    top: 43%;
    left: 360px;
  }
}
.access-camera-message-container {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  background: #1a1b1c;
}
.access-camera-message {
  padding-left: 1rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #fcfcfc;
}
.deny-allow-holder {
  display: flex;
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top-width: 1px;
  border-color: #fcfcfc;
  justify-content: end;
}
.deny-button {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1rem;
  cursor: pointer;
  color: #fcfcfca1;

  @media (min-width: 768px) {
  }
}
.deny-button:hover {
  color: #6b7280;
}
.allow-button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1rem;
  cursor: pointer;
  color: #fcfcfc;

  @media (min-width: 768px) {
  }
}
.allow-button:hover {
  color: #d1d5db;
}

/* 

SELECT PAGE

*/

.select-analysis-header-holder {
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  margin-top: 1.25rem;
  text-align: left;
}
.select-analysis-header {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.select-analysis-para {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.select-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 78.3vh;
}
.relative-select-box {
  position: relative;
}
.small-holder-holder {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.small-holder {
  position: absolute;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  opacity: 0;
  width: 400px;
  height: 400px;
}
.select-small-diamond {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: contain;
  /* color: transparent; */
  border: 3px dotted gray;
  z-index: 20;
}
.select-body-holder {
  position: fixed;
  width: 100%;
  top: 50%;
}
.select-boxes-holder {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;

  /* background-color: #000000; */
  transform-origin: (50, 50);
  /* rotate: 45deg; */
}
.square-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #000000; */
  display: flex;
  flex-wrap: wrap;
  rotate: -45deg;
}
.select-box-container {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.demographics-box{
  transition: all .5s ease;
  
}
.demographics-box:hover{
  transform: scale(1.05);
}
.demographics-box:hover .inner-box{
  background-color: darkgray;
}
.inner-box {
  width: 95%;
  height: 95%;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}
.inner-demo{
  background-color: lightgray;
}
.select-box-text {
  rotate: 45deg;
  font-weight: bold;
}

.cosmetic-dotbox{
  position: absolute;
    top: -45px;
    bottom: -45px;
    left: -45px;
    right: -45px;
    rotate: -45deg;
    border: 3px dotted lightgray;
    opacity: 0;
    transform: scale(0.5);
    transition: all .3s ease;
}
.demographics-dotbox{
  position: absolute;
    top: -70px;
    bottom: -70px;
    left: -70px;
    right: -70px;
    rotate: -45deg;
    border: 4px dotted lightgray;
    opacity: 0;
    transform: scale(0.5);
    transition: all .3s ease;
}
.weather-dotbox{
  position: absolute;
    top: -55px;
    bottom: -55px;
    left: -55px;
    right: -55px;
    rotate: -45deg;
    border: 4px dotted gray;
    opacity: 0;
    transform: scale(0.5);    
    transition: all .3s ease;
}
.skin-dotbox{
  position: absolute;
    top: -35px;
    bottom: -35px;
    left: -35px;
    right: -35px;
    rotate: -45deg;
    border: 3px dotted darkgray;
    opacity: 0;
    transform: scale(0.5);
    transition: all .3s ease;
}
.active-dot {
  opacity: 1;
  transform: scale(1);
}

/* 

LOADING PAGE

*/

.black-one {
  color: black !important;
  font-weight: 500;
}
.loading-main {
  width: 100%;
  height: 90vh;
}
.loading-aside {
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
}
.loading-cam-messages {
  position: fixed;
  top: 110%;
}
.loading-scan {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: 768px) {
    position: absolute;
    left: 50%;
    top: 300%;
    transform: translateX(-50%);
  }
}

/* 

LOAD SUMMARY PAGE

*/

.gal-loading-aside{
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gal-text{
  font-size: large;
  margin-bottom: 20px;

  @media (max-width: 768px){
    text-align: center;
  }
}

/* 

CAPTURE PAGE

*/

.back-button-holder {
  z-index: 100;
}
.white-one {
  color: white;
}
.white-frame {
  border: 1px solid white;
}
.vid1 {
  width: 100vw;
  height: 90vh;
}
.vid2 {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background-color: #111827;
  height: 90vh;
}
.vid3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#webcamVideo {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.take-picture-holder {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 50%;
  z-index: 20;
  margin-left: 0.75rem;
  margin-left: 0.875rem;
  align-items: center;
}
.take-picture-text {
  display: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #fcfcfc;
  margin-right: 12px;

  @media (min-width: 640px) {
    display: block;
  }
}
.take-pic-icon-holder {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s ease;
}
.take-pic-icon-holder:hover {
  transform: scale(1.05);
}
.take-pic-icon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.cam-messages-holder {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  bottom: 10rem;

  @media (min-width: 640px) {
    bottom: 10rem;
  }
}
.better-results-text {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fcfcfc;
}
.points-holder {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1.5rem;
  color: #fcfcfc;
}
.middle-point {
  margin: 0 32px;
}
.big-back-button.white-hover:hover .white-frame {
  transform: scale(1.1);
  cursor: pointer;
}
.white-frame:hover {
  transform: scale(1.1);
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 90vh;
  overflow: hidden;
}

.result canvas {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.result.hasPhoto {
  left: 0;
}
.great-shot {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fcfcfc;
}
.preview-holder {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10rem;
  z-index: 20;
  flex-direction: column;
  align-items: center;

  @media (min-width: 640px) {
    bottom: 4rem;
  }
}
.preview-header {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  box-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
  color: #fcfcfc;

  @media (min-width: 768px) {
    margin-bottom: 1.75rem;
  }
}
.preview-options {
  display: flex;
  justify-content: center;
}
.retake-button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #1f2937;
  background-color: #e5e7eb;
  cursor: pointer;
  margin-right: 32px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.retake-button:hover {
  background-color: #d1d5db;
}
.use-photo-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: #6e6f70;
  color: #fcfcfc;
}
.use-photo-button:hover {
  background-color: #636970;
}
.modal-holder {
  position: absolute;
  width: 280px;
  height: 175px;
  background-color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 150px;
    height: 125px;
  }
}
.modal-header {
  font-size: 36px;
  color: #474747;
  margin-top: 12px;
  animation: modalfadeInOut 1.5s ease-in-out infinite;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
@keyframes modalfadeInOut {
  0% { opacity: .25; }
  50% { opacity: 1; }
  100% { opacity: .25; }
}
.modal-loader {
  display: block;
  width: 170px;
  height: 120px;

  @media (max-width: 768px) {
    width: 100px;
    height: 75px;
  }
}

/* 

SUMMARY PAGE

*/

.outer-div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1b1c;
}
.summary-body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: 860px) {
    margin-top: 1.25rem;
    height: 90vh;
  }
}
.inner-main {
  overflow: auto;
  flex: 1 1 0%;
  width: 100%;
  background-color: #ffffff;

  @media (min-width: 860px) {
    overflow: hidden;
  }
}
.summary-container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  flex-direction: column;
  max-width: 100%;

  @media (min-width: 860px) {
    height: 100%;
    overflow: auto;
  }
}
.summary-header-holder {
  margin-bottom: 1rem;
  margin-left: 1rem;

  @media (min-width: 860px) {
    margin-left: 0;
    margin-bottom: 2.5rem;
  }
}
.ai-analysis-summary {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;

  @media (min-width: 860px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.demographic-summary-text {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.05em;

  @media (min-width: 860px) {
    color: 72px;
  }
}
.predicted-age-race-text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.sum-little{

  @media(max-width: 860px){
    background-color: white;
    padding: 12px 12px;
    
  }
}

.btn-white{
  border-radius: 10px;
}






.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;

    @media(max-width: 860px){
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(13, 1fr);
      gap: 16px;
    }
}

.div1{

  @media(max-width: 860px){
    grid-column: span 5 / span 5;
  }
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 2;

    @media(max-width: 860px){
      grid-column: span 5 / span 5;
    }
}

.div3 {
    grid-column-start: 1;
    grid-row-start: 3;

    @media(max-width: 860px){
      grid-column: span 5 / span 5;
    }
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;

    @media(max-width: 860px){
      grid-column: span 5 / span 5;
      grid-row: span 4 / span 4;
    }

    @media(max-width: 860px){
      grid-column: span 5 / span 5;
      grid-row: span 4 / span 4;
    }
}

.div5 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;

    @media(max-width: 860px){
      grid-column: span 5 / span 5;
      grid-row: span 5 / span 5;
    }
}

.left-box{
  background-color: #f2f3f5;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid black;

  @media(max-width: 860px){
    
  }
}
.left-box:hover{
  background-color: lightgray;
  cursor: pointer;
}

.middle-box{
  width: 100%;
  height: 520px;
  background-color: #f2f3f5;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media(max-width: 526px){
    justify-content: start;
  }
}

.right-box{
  width: 100%;
  height: 520px;
  background-color: #f2f3f5;
  border-top: 1px solid black;
}

.left-dynamic-value{
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
}

.left-value-class{
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
}


.middle-box-top{
  /* placeholder */
}

.pie-header{
  font-size: 36px;
  padding-top: 12px;
  padding-left: 12px;

  @media(max-width: 860px){
    visibility: hidden;
  }
}

.middle-box-bottom{
  display: flex;
  justify-content: end;
}

.pie-holder{
  width: 384px;
  height: 384px;
  margin: 20px;
  
  @media(max-width: 860px){
    position: absolute;
    margin: 0;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media(max-width: 526px){
    width: 250px;
    top: 30%;
  }

  @media(max-width: 340px){
    width: 200px;
    top: 20%;
  }
}
.hidden-message{
  visibility: hidden;
  text-align: center;

  @media(max-width: 860px){
    visibility: visible;
    position:absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }

  @media(max-width: 526px){
    font-size: 16px;
    bottom: 20%;
  }

}

.outer-hidden-message{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: #a1a4ab;
  font-size: 16px;

  @media(max-width: 860px){
    visibility: hidden;
  }
}

.right-menu{
  display: flex;
  justify-content: space-between;
}

.menu-prop{
    font-size: 18px;
    font-weight: 500;
    margin:12px;
}

.lineitem-left{
  display: flex;
  align-items: center;
}

.lineitem{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.lineitem:hover{
  background-color: lightgray;
  cursor: pointer;
}

.lineitem-diamond{
  rotate: 45deg;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  margin: 0 12px;
}

.lineitem-label{
  font-size: 16px;
  font-weight: 400;
}

.lineitem-right{
  display: flex;
  align-items: center;
  justify-content: end;
}

.lineitem-percentage{
  font-size: 16px;
  font-weight: 400;
  margin: 0 12px;
}

.left-box.active {
  background-color: black;
  color: white;
}

.lineitem.active {
  background-color: black;
  color: white;
}

.lineitem.active .lineitem-diamond{
  border: 1px solid white;
}